<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p [%file:%line]- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="mllog"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/mljava_desc.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/mljava_desc.log.%d</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %p [%file:%line]- %m%n
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

　　 <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="mllog"/>
    </root>


</configuration>